//@import '../../../vendor/bower_components/nukacode-bootstrap-dark/less/dark';
@import '../semantic/src/semantic';
@import "../semantic/src/themes/default/globals/site.variables";
@import "prefixer";

#content {
    margin: 0 10px;
}
.clearfix {
    clear: both;
}
.ui.horizontal.segments {
    & .segment {
        border-left: none;
    }
}
.ui.menu .primary.active.item,
.ui.primary.menu .active.item {
    border-color: @primaryColor !important;
    color: @primaryColor !important;
}
.ui.menu.primary .item:hover {
    color: @lightPrimaryColor !important;
    border-bottom: 2px solid @lightPrimaryColor;
}
.ui.input input.primary {
    border-color: @primaryColor;
    color: @lightPrimaryColor;
    &::-webkit-input-placeholder {
        color: @primaryColor;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: @primaryColor;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        color: @primaryColor;
    }

    &:-ms-input-placeholder {
        color: @primaryColor;
    }
}
.ui .column.dark, .ui.segment.dark {
    background: #202020;
    .box-shadow(~"rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset");
}
.ui.segment.dark.attached {
    border: none;
}
.ui.segments.dark {
    background: #202020;
    .box-shadow(~"rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset");
    & .segments:hover {
        background: fadeout(@primaryColor, 70%);
    }
}
.ui[class*="right floated"] {
    float: right;
}
.ui[class*="left floated"] {
    float: left;
}
.ui.selection.dropdown {
    color: @primaryColor;
    border-color: @primaryColor;
    label {
        color: @primaryColor !important;
    }
}
.ui.selection.visible.dropdown > .text:not(.default) {
    color: @primaryColor;
}
.ui.dropdown > .default.text, .ui.default.dropdown > .text {
    color: @primaryColor;
}
.ui.form .selection.dropdown {
    border-bottom-color: @primaryColor;
}
.ui.form.primary {
    color: @primaryColor;
    label {
        color: @primaryColor !important;
    }
    input:not([type="submit"]) {
        border-color: @primaryColor;
        color: @lightPrimaryColor;
        &::-webkit-input-placeholder {
            color: @primaryColor;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: @primaryColor;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: @primaryColor;
        }

        &:-ms-input-placeholder {
            color: @primaryColor;
        }
    }
    input:focus {
        border-color: @lightPrimaryColor;
        color: @lightPrimaryColor;
        &::-webkit-input-placeholder {
            color: @lightPrimaryColor;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: @lightPrimaryColor;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: @lightPrimaryColor;
        }

        &:-ms-input-placeholder {
            color: @lightPrimaryColor;
        }
    }
}
.ui.table.dark {
    background: #202020;
    .box-shadow(~"rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset");
    & td, th {
        background: transparent;
    }
    & thead {
        & th {
            color: @lightPrimaryColor;
            border-bottom: 2px solid @primaryColor;
        }
    }
    & tbody tr {
        &:first-of-type td {
            border-top: none;
        }
        & td {
            border-top: 1px solid #343838;
            color: @lightGrey;
        }
    }
    &.hover {
        & tr:hover {
            background: fadeout(@primaryColor, 70%);
        }
    }
}
.ui.primary.text {
    color: @primaryColor !important;
}
.ui.red.text {
    color: @red !important;
}
.ui.orange.text {
    color: @orange !important;
}
.ui.yellow.text {
    color: @yellow !important;
}
.ui.olive.text {
    color: @olive !important;
}
.ui.green.text {
    color: @green !important;
}
.ui.teal.text {
    color: @teal !important;
}
.ui.blue.text {
    color: @blue !important;
}
.ui.violet.text {
    color: @violet !important;
}
.ui.pink.text {
    color: @pink !important;
}
.ui.brown.text {
    color: @brown !important;
}
.ui.grey.text {
    color: @grey !important;
}
.ui.black.text {
    color: @black !important;
}